.about{
    padding: 50px 0;
    /*text-align: center;*/
    /*font-weight: 300;*/
    /*font-size: 1.2rem;*/
    /*line-height: 1.8rem;*/
    /*letter-spacing: 1px;*/
    /*margin-bottom: 50px;*/
    color: var(--color-white);
    background-color: var(--color-bckg-global);
    font-family: var(--font-plus-jakarta-sans);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.aboutsider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.aboutsidertxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.aboutsidertitle{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.aboutsidertxt1{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01em;
    width: 100%;
}

.aboutsiderimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.aboutsidertxt2{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01em;
    width: 100%;
}