


.profileimgIcon {
    position: relative;
    border-radius: 50%;
    width: 11.63rem;
    height: 11.63rem;
    object-fit: cover;

    @media (max-width: 768px) {
        width: 9.63rem;
        height: 9.63rem;
    }

}
.nahidathGassa {
    margin-block-start: 0;
    margin-block-end: 19px;
    letter-spacing: 0.02em;
    font-family: var(--font-kaushan-script);

    @media (max-width: 768px) {
        font-size: var(--font-size-17xl);
    }
}
.fullstackWebDeveloper {
    margin-block-start: 0;
    margin-block-end: 19px;
    font-size: var(--font-size-11xl);
    letter-spacing: 0.05em;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: var(--font-size-5xl);
    }
}
.withoutRequirementOr {
    margin: 0;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;

    @media (max-width: 768px) {
        font-size: var(--font-size-2xl);
        margin : 0 1rem 0 1rem;
    }
}
.profiletxt {
    position: relative;
    display: inline-block;
    width: 41.13rem;
    flex-shrink: 0;

    @media (max-width: 768px) {
        width: 100%;
    }
}
.btn1 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 40px;
    background-color: var(--color-midnightblue);
    border: 1px solid var(--color-darkslateblue);
    box-sizing: border-box;
    width: 17.5rem;
    height: 4.06rem;
}
.aboutMe1 {
    text-transform: uppercase;
}
.span {
    font-weight: 500;
}
.aboutMeTxtContainer {
    line-break: anywhere;
    width: 100%;
}

.btnaboutme {
    position: relative;
    width: 17.5rem;
    height: 4.06rem;
    font-size: var(--font-size-3xl);
}
.aboutMe {
    top: 1.31rem;
    left: 3.88rem;
    letter-spacing: 0.17em;
    display: flex;
    align-items: center;
    width: 9.74rem;
    height: 2.79rem;
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--color-midnightblue);
    border: 1px solid var(--color-darkslateblue);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.aboutMe span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.aboutMe:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.aboutMe:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btnShine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

.btnShine span {
    z-index: 20;
}

.btnShine:after {
    background: #d9d9d9;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btnShine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.scrollDownAnimated{
    position: sticky;
    margin-top: 0.69rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    animation: scrollDown 1.5s infinite;
}
@keyframes scrollDown {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(1rem);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}



.scrollDownIcon {
    position: relative;
    width: 5.25rem;
    height: 5.25rem;
    object-fit: cover;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.69rem;
    font-size: 2.44rem;

    /*@media (max-width: 768px) {*/
    /*    padding-top: 1rem;*/
    /*    width: 100%;*/
    /*}*/
}
.firstblock {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 0rem 0rem var(--padding-xl);*/
    gap: 2.94rem;
    background-image: url('../../../public/bckg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    border-collapse: collapse;
    padding-top: 4.31rem;
    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
    }
}
.circle {
    top: 0rem;
    left: 0rem;
    border-radius: 50%;
    background-color: var(--color-midnightblue);
    border: 1px solid var(--color-darkslateblue);
    box-sizing: border-box;
    width: 11rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circleInsideIcon {
    width: 5.15rem;
    height: 5.15rem;
    object-fit: cover;
}
.circleicon {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
}
.adaptableAndSwift {
    margin: 0;
    font-size: var(--font-size-2xl);
}

.icontitletxt {
    letter-spacing: 0.17em;
    display: flex;
    flex-direction: column;
    gap: 1.69rem;
    align-items: center;
    width: 16.47rem;
}
.icontitle {
    font-size: var(--font-size-11xl);
    text-transform: uppercase;
}
.icontxt {
    position: relative;
    width: 16.88rem;
    height: fit-content;
}
.topskill {
    flex: 1;
    height: 37.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-22xl);

}

.secondblock {
    align-self: stretch;
    height: 44.31rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.63rem 5.69rem;
    box-sizing: border-box;
    gap: 4.25rem;
    font-size: var(--font-size-3xl);
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 0rem;
        gap: 3.25rem;
        height: fit-content;
    }

}

.projects {
    margin-block-start: 0;
    margin-block-end: 10px;
    font-weight: bold;
    letter-spacing: 0.22em;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: var(--font-size-5xl);

    }
}
.thatIMade {
    margin: 0;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.17em;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: var(--font-size-3xl);
    }
}
.tbtxt {
    display: flex;
    flex-direction: column;
}
.titleblock {
    width: 39.83rem;
    height: 5.89rem;
    font-size: 1.88rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap-3xs);
    min-width: fit-content;

    @media (max-width: 768px) {
       gap: 0rem;
       width: 100% ;
        height: fit-content;
    }
}

.imgZoom {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.image1Icon {
    width: 45.69rem;
    height: 21.81rem;
    object-fit: cover;

    @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
    }
}
.image2Icon {
    width: 40.31rem;
    height: 20.06rem;
    object-fit: cover;
    @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
    }
}
.image3Icon {
    width: 19.25rem;
    height: 41.38rem;
    object-fit: cover;
    @media (max-width: 768px) {
        width: 17rem;
        height: 35rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
.image4Icon {
    width: 51.5rem;
    height: 32.06rem;
    object-fit: cover;
    @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
    }
}

.container1 {
    position: relative;
    height:fit-content;

    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.middle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.container1:hover .imgZoom{
    opacity: 0.25;
}

.container1:hover .middle {
    opacity: 1;
}

.description1 {
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 1rem;

    @media (max-width: 768px) {
        font-size: 14px;
    }

}

.titleDesc{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    margin-bottom: 10px;
    border-bottom: 1px solid white;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.linkDesc{
    text-decoration: underline #fff 2px;
    text-underline-position: under;
    color: white;
    font-size: 20px;
}
.projectblock {
    width: 89.94rem;
    height: 72.25rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.69rem;

    @media (max-width: 768px) {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.25rem;
        margin: 2rem;
    }
}
.thirdblock {
    align-self: stretch;
    height: 81.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3.25rem;

    @media (max-width: 768px) {
        height: fit-content;
        padding-bottom: 5rem;
    }
}
.languagesIdesAnd {
    letter-spacing: 0.22em;
    text-transform: uppercase;
}
.languagesIdesAndSoftwares {
    margin-block-start: 0;
    margin-block-end: 12px;
}
.linkLanguages {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.linkLanguages:hover {
    transform: scale(1.1);
}

.tbtxt2 {
    position: relative;
    z-index: 0;
}
.square1Icon1 {
    position: absolute;
    margin: 0 !important;
    top: -0.5rem;
    left: -0.91rem;
    width: 5.64rem;
    height: 5.64rem;
    object-fit: cover;
    z-index: 1;
}
.square2Icon1 {
    position: absolute;
    margin: 0 !important;
    top: -1.19rem;
    left: 72.63rem;
    width: 5.64rem;
    height: 5.64rem;
    object-fit: cover;
    z-index: 2;
}
.titleblock2 {
    width: 77.38rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: var(--gap-3xs);
}

.iconLanguages {
    max-width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    @media (max-width: 768px) {
        gap: 2rem;
    }

}
.forthblock {
    align-self: stretch;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3.25rem;

    @media (max-width: 768px) {
       max-height: unset;
    }
}
.githubLogoIcon {
    position: relative;
    width: 6.15rem;
    height: 6.15rem;
    overflow: hidden;
    flex-shrink: 0;
}

.portfolio {
    position: relative;
    background-color: #11071f;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.25rem;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-plus-jakarta-sans);
    padding-bottom: 11.25rem;

    @media (max-width: 768px) {
        padding-bottom: 5rem;
        width: fit-content;
    }

}

.iconNodejs{
    background-color: var(--color-white);
    border-radius: 50%;
}

